:root {
  --heading-font-family: "Futura", "Trebuchet MS", "Arial", sans-serif;
  --body-font-family: "Cochin", "Hoefler Text", "Garamond", "Times New Roman",
    serif;
  --monospace-font-family: "Andale Mono", "Lucida Console", "Courier New",
    monospace;

  --background-colour: 43, 48, 59;
  --text-colour: 201, 211, 233;
  --accent-colour: 0, 255, 221;

  --transition-properties: 0.5s ease-out;

  background-color: rgb(var(--background-colour));
  font-family: var(--body-font-family);
  font-size: 14px;
  line-height: 1.3;
  color: rgb(var(--text-colour));
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.2;
  text-transform: lowercase;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child {
  margin-top: 0;
}

a {
  color: inherit;
  text-decoration: underline rgb(var(--accent-colour)) 0.1em;
  transition: border-bottom-color var(--transition-properties),
    border-left-color var(--transition-properties),
    color var(--transition-properties);
}

a:active,
a:focus,
a:focus-within,
a:hover {
  color: rgb(var(--accent-colour));
}

blockquote {
  margin-left: 2em;
  margin-right: 2em;
  text-indent: -0.4em;
}

blockquote p::before {
  content: "“";
  margin-right: -0.05em;
}

blockquote p::after {
  content: "”";
  margin-left: -0.05em;
}

code {
  font-family: var(--monospace-font-family);
}

@media (min-width: 400px) {
  :root {
    font-size: 16px;
  }
}

@media (min-width: 700px) {
  :root {
    font-size: 18px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-colour: 178, 255, 255;
    --text-colour: 43, 48, 59;
    --accent-colour: 50, 71, 255;
  }
}
